In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
happiness_df = pd.read_csv("happiness.csv")
gdp_df = pd.read_csv("world_country_gdp_usd.csv")

In [65]:
happiness_df

        Countries  Happiness index, 2022  Global rank Available data
0         Finland                   7.80            1    2013 - 2022
1         Denmark                   7.59            2    2013 - 2022
2         Iceland                   7.53            3    2013 - 2022
3          Israel                   7.47            4    2013 - 2022
4     Netherlands                   7.40            5    2013 - 2022
..            ...                    ...          ...            ...
129      DR Congo                   3.21          130    2017 - 2022
130      Zimbabwe                   3.20          131    2013 - 2022
131  Sierra Leone                   3.14          132    2013 - 2022
132       Lebanon                   2.39          133    2013 - 2022
133   Afghanistan                   1.86          134    2013 - 2022

[134 rows x 4 columns]

In [70]:
gdp_df = gdp_df[(gdp_df["year"]==2021) & (gdp_df["GDP_per_capita_USD"] > 0)][["GDP_per_capita_USD", "Country Name"]]

KeyError: 'year'

In [ ]:
[["Country Name", "GDP_per_capita_USD"]]

In [60]:
gdp_df[]

,Country Name,Country Code,year,GDP_USD,GDP_per_capita_USD
1,Africa Eastern and Southern,AFE,1960,2.129059e+10,162.726326
2,Afghanistan,AFG,1960,5.377778e+08,59.773234
3,Africa Western and Central,AFW,1960,1.040414e+10,107.930722
13,Australia,AUS,1960,1.860679e+10,1810.619230
14,Austria,AUT,1960,6.592694e+09,935.460427
...,...,...,...,...,...
16487,Kosovo,XKX,2021,9.007159e+09,4986.582469
16488,"Yemen, Rep.",YEM,2021,2.106169e+10,690.759273
16489,South Africa,ZAF,2021,4.199460e+11,6994.211654
16490,Zambia,ZMB,2021,2.120306e+10,1120.630171
16491,Zimbabwe,ZWE,2021,2.621773e+10,1737.173977